---
import { Image } from "astro:assets";
import DragScrollItem from "../components/DragScrollItem.astro";

const { post, page } = Astro.props;
---

<DragScrollItem>
  <a href={`${page}/${post.sys.id}`} class="min-w-[300px] max-w-[300px]">
    <div class="aspect-h-1 aspect-w-1 w-full">
      <Image
        src={post.image.url}
        class="h-full w-full rounded-tl-md rounded-tr-md"
        alt={`blog post number ${post.id}`}
        id="postImage"
        width="294"
        height="63"
        loading="lazy"
        decoding="async"
        quality={"mid"}
        transition:name={`image-${post.title}`}
      />
    </div>
    <h3 class="mt-4 text-lg text-white truncate">
      {post.title}
    </h3>
  </a>
</DragScrollItem>
